body {
    background-color: #161533;
    font-family: Helvetica, sans-serif;
}

h1 {
    text-align: center;
}

.first {
    background-color: #3C3A8C;
    width: 60%;
    height: auto;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    margin-block-end: auto;
    padding: 1%;
    display: flex;
    justify-content: space-between; /* Espacio entre elementos para alinear a la izquierda y a la derecha */
    border-radius: 15px;
    box-shadow: 0px 0px 15px 15px #3C3A8C;
    align-items: flex-start;
}

.perfil{
    border-radius: 15px;
}

.Titulo {text-align: left;  
    font-size: 30px; 
    COLOR: #bbb; 
    text-shadow: 0px 0px 9px #068080;
    }